# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
pytestdebug.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# Environment variables
.env
secret.yaml
*-secret.yaml

# IDE / editor settings
.vscode/
.idea/

# Mac OS
.DS_Store

# Volumes
postgres/
